* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.7;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-wrapper {
  background-image: url("../img/bg_img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* HEADER */

.header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.82);
}

.nav__item {
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
}

.hero {
  min-height: 380px;
}

.hero__title {
  text-align: center;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Gloria Hallelujah", cursive;
}

.get-btn {
  text-transform: capitalize;
  background-color: rgba(120, 199, 242, 0.396);
  color: #fff;
  padding: 10px 30px;
  border: 2px solid #78c7f2;
  margin-bottom: 100px;
}

.play-btn-wrapper {
  text-align: center;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #78c7f263;
}

.play-btn svg {
  color: #78c7f2;
}

/* MAIN */

.main {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__title {
  text-transform: uppercase;
  font-family: "Gloria Hallelujah", cursive;
  color: rgb(84, 78, 78);
  font-size: 40px;
}

.tickets {
  width: 100%;
  border-collapse: collapse;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.516);
}

.date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  padding: 15px;
  font-weight: bold;
}

.city {
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  padding: 15px;
}

.place {
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  padding: 15px;
}

.buy {
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  padding: 15px;
}

.buy-btn {
  background-color: #78c7f2;
  border: unset;
  padding: 5px 2px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.ticket:last-child .date,
.ticket:last-child .city,
.ticket:last-child .place,
.ticket:last-child .buy {
  border-bottom: 0;
}

/* FOOTER */

.footer {
  background-color: #78c7f2;
  padding: 0 20px;
}

.socials-wrapper {
    text-align: right;
    margin-top: -40px;
    padding-bottom: 20px;
}

.logo {
  font-size: 30px;
  color: #fff;
  font-family: "Gloria Hallelujah", cursive;
  text-transform: capitalize;
  display: inline-block;
}

.socials {
  display: inline-block;
}

.social {
  display: inline-block;
  margin-left: 10px;
}

.social__link {
  transition: oppacity 0.3s ease;
}

.social__link:hover {
  opacity: 0.7;
}
