* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1130px;
}

.bg-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/bg_img.jpg");
}

/* HEADER */

.header {
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.82);
  border-bottom: 1px solid rgba(255, 255, 255, 0.526);
}

.nav__item {
  margin: 0 25px;
  display: inline-block;
  text-transform: uppercase;
}

.nav__link {
  transition: opacity 0.3s ease;
  color: rgba(255, 255, 255, 0.82);
}

.nav__link:hover {
  opacity: 0.7;
}

.hero {
  min-height: 380px;
}

.hero.min {
  min-height: auto;
}

.hero__title {
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-family: "Gloria Hallelujah", cursive;
}

.hero.min .hero__title {
  margin-bottom: 10px;
}

.get-btn-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.get-btn {
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 100px;
  text-transform: capitalize;
  border: 2px solid #78c7f2;
  background-color: rgba(120, 199, 242, 0.396);
}

.play-btn-wrapper {
  text-align: center;
}

.play-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #78c7f263;
}

.play-btn svg {
  color: #78c7f2;
}

/* MAIN */

.main {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.main__title {
  font-size: 40px;
  text-align: center;
  color: rgb(84, 78, 78);
  text-transform: uppercase;
  font-family: "Gloria Hallelujah", cursive;
}

.tickets {
  width: 100%;
  text-transform: uppercase;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.516);
}

.date {
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.city {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.place {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.buy {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.buy-btn {
  border: unset;
  color: #fff;
  padding: 5px 2px;
  border-radius: 5px;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #78c7f2;
}

.ticket:last-child .date,
.ticket:last-child .city,
.ticket:last-child .place,
.ticket:last-child .buy {
  border-bottom: 0;
}

/* FOOTER */

.footer {
  padding: 0 20px;
  background-color: #78c7f2;
}

.socials-wrapper {
  text-align: right;
  margin-top: -40px;
  padding-bottom: 20px;
}

.footer-logo {
  color: #fff;
  font-size: 30px;
  display: inline-block;
  text-transform: capitalize;
  transition: opacity 0.3s ease;
  font-family: "Gloria Hallelujah", cursive;
}

.footer-logo:hover {
  opacity: 0.7;
}

.socials {
  display: inline-block;
}

.social {
  display: inline-block;
  margin-left: 10px;
}

.social__link {
  transition: oppacity 0.3s ease;
}

.social__link:hover {
  opacity: 0.7;
}

/* ABOUT */

.about {
  padding-bottom: 40px;
  color: rgba(6, 6, 6, 0.36);
}

.about-img {
  float: left;
}
